@import "tailwindcss";

@theme {
  --color-akina-lilac: #B6B6E5;
  --color-akina-purple: #7C7CBC;
  --color-akina-dark: #1A1A2E;
  --color-akina-light: #F5F5FA;
}

:root {
  --background: #F5F5FA;
  --foreground: #1A1A2E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}